<script context="module">
export async function preload({ params }) {
	// the `slug` parameter is available because
	// this file is called [slug].svelte
	//const res = await this.fetch(`http://172.19.1.11/perpusnas_tajuk_parser_v2/detail/${params.slug}`);
	const res = await this.fetch(`https://slims.kemdikbud.go.id/ptp/detail/${params.slug}`);
	const data = await res.json();
	if (res.status === 200) {
		return { post: data };
	} else {
		this.error(res.status, data.message);
	}
}
</script>

<script>
  export let post;
  import Footer from '../../components/Footer.svelte';
</script>

{#if post.result.status === 'success'}

<!-- item card -->
<div class="container mx-auto w-full py-4 px-8 bg-white shadow-lg rounded-lg my-20">
  <div class="flex justify-center md:justify-end -mt-16">
    <img alt="funny image" class="w-20 h-20 object-cover rounded-full border-2 border-indigo-500" src="https://robohash.org/{post.result.data.tajuk}">
  </div>
  <div class="text-gray-800">
    <h2 class="text-3xl font-semibold  border-b-2 border-gray-700 pb-4 mb-4">Detail Tajuk</h2>
    <!--<p class="mt-2 text-gray-600">_-Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolores deserunt ea doloremque natus error, rerum quas odio quaerat nam ex commodi hic, suscipit in a veritatis pariatur minus consequuntur!</p>-->
    <div class="flex mb-5 text-gray-800"><p class="align-top w-3/12 font-bold">Tajuk:</p> <p class="w-9/12 hover:underline">{post.result.data.tajuk}</p></div>

  {#if post.result.data.lihat_juga}
    <div class="flex mb-5 text-gray-800"><p class="align-top w-3/12 font-bold">Lihat Juga:</p> <p class="w-9/12">{post.result.data.lihat_juga}</p></div>
  {/if}

  {#if post.result.data.istilah_luas}
    <div class="flex mb-5 text-gray-800"><p class="align-top w-3/12 font-bold">Istilah Luas:</p> <p class="w-9/12">
    {#each post.result.data.istilah_luas as ilus }
      - <span class="hover:underline"><a rel="prefetch" href="search/{ilus}">{ilus}</a></span><br />
    {/each}
    </p></div>
  {/if}

  {#if post.result.data.istilah_berkait}
    <div class="flex mb-5 text-gray-800"><p class="align-top w-3/12 font-bold">Istilah Berkait:</p> <p class="w-9/12">
    {#each post.result.data.istilah_berkait as iber }
      - <span class="hover:underline"><a rel="prefetch" href="search/{iber}">{iber}</a></span><br />
    {/each}
    </p></div>
  {/if}

  {#if post.result.data.istilah_sempit}
    <div class="flex mb-5 text-gray-800"><p class="align-top w-3/12 font-bold">Istilah Sempit:</p> <p class="w-9/12">
    {#each post.result.data.istilah_sempit as isem }
        - <span class="hover:underline"><a rel="prefetch" href="search/{isem}">{isem}</a></span><br />
    {/each}
    </p></div>
  {/if}

  {#if post.result.data.gunakan_untuk}
    <div class="flex mb-5 text-gray-800"><p class="align-top w-3/12 font-bold">Gunakan Untuk:</p> <p class="w-9/12">
    {#each post.result.data.gunakan_untuk as usef }
        - <span class="hover:underline"><a rel="prefetch" href="search/{usef}">{usef}</a></span><br />
    {/each}
    </p></div>
  {/if}

  </div>
</div>

{:else}

<div class="container mx-auto mt-2">
  <div class="flex items-center bg-yellow-500 border-l-4 border-orange-700 py-2 px-3 shadow-md mb-2">
    <!-- icons -->
    <div class="text-orange-500 rounded-full bg-white mr-3">
      <svg width="1.8em" height="1.8em" viewBox="0 0 16 16" class="bi bi-exclamation" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  	    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
      </svg>
    </div>
  <!-- message -->
    <div class="text-white max-w-xs ">
      Data tidak tersedia
    </div>
  </div>
</div>

{/if}

<Footer/>

<svelte:head>
	<title>Detail Tajuk</title>
</svelte:head>
