<script>
	import Footer from '../components/Footer.svelte';
	let kw2search = null;
	//let base_url = 'http://172.19.1.11/perpusnas_tajuk_parser_v2/search/';
	let base_url = 'https://slims.kemdikbud.go.id/ptp/search/';
	$: apiURL = base_url + kw2search;

	$: fetchData = (async () => {
		if (kw2search) {
      console.log(kw2search);
      console.log(apiURL);
      const response = await fetch(apiURL)
			return await response.json()
		}
	})()
</script>

<div class="container mx-auto">
  <div class="flex flex-col p-2 py-6 m-h-screen">
    <div class="bg-white items-center justify-between w-full flex rounded-full shadow-lg p-2 mb-5 sticky" style="top: 5px">
      <input class="font-bold uppercase rounded-full w-full py-4 pl-4 text-gray-700 bg-gray-100 leading-tight focus:outline-none focus:shadow-outline lg:text-sm text-xs" type="text" placeholder="Masukkan kata kunci disini" bind:value="{kw2search}">
    </div>
  </div>      
</div>

<div class="container mx-auto mt-1">

  {#if kw2search}
    {#await fetchData}

	<!-- WAITING PROGRESS ANIM -->
	<div>
  	<style>
			.loader-dots div {
	    	animation-timing-function: cubic-bezier(0, 1, 1, 0);
			}
			.loader-dots div:nth-child(1) {
	    	left: 8px;
		    animation: loader-dots1 0.6s infinite;
			}
			.loader-dots div:nth-child(2) {
  	  	left: 8px;
	  	  animation: loader-dots2 0.6s infinite;
			}
			.loader-dots div:nth-child(3) {
    		left: 32px;
	    	animation: loader-dots2 0.6s infinite;
			}
			.loader-dots div:nth-child(4) {
    		left: 56px;
	    	animation: loader-dots3 0.6s infinite;
			}
			@keyframes loader-dots1 {
    		0% {
      	  transform: scale(0);
	    	}
		    100% {
    	    transform: scale(1);
  	  	}
			}
			@keyframes loader-dots3 {
    		0% {
      	  transform: scale(1);
	    	}
		    100% {
    	    transform: scale(0);
  	  	}
			}
			@keyframes loader-dots2 {
    		0% {
      	  transform: translate(0, 0);
	    	}
	  	  100% {
  	      transform: translate(24px, 0);
    		}
			}
		</style>
		<div class="fixed top-0 left-0 z-50 w-screen h-screen flex items-center justify-center" style="background: rgba(0, 0, 0, 0.3);">
		  <div class="bg-white border py-2 px-5 rounded-lg flex items-center flex-col">
    		<div class="loader-dots block relative w-20 h-5 mt-2">
		      <div class="absolute top-0 mt-1 w-3 h-3 rounded-full bg-green-500"></div>
    		  <div class="absolute top-0 mt-1 w-3 h-3 rounded-full bg-green-500"></div>
		      <div class="absolute top-0 mt-1 w-3 h-3 rounded-full bg-green-500"></div>
    		  <div class="absolute top-0 mt-1 w-3 h-3 rounded-full bg-green-500"></div>
		    </div>
    		<div class="text-gray-500 text-xs font-light mt-2 text-center">
      		Pengecekan data. Mohon tunggu.
		    </div>
		  </div>
  	</div>
	</div>

		{:then data}
			{#if data.result }

	<div class="container mx-auto">
		<div class="flex flex-col p-2 pt-0 m-h-screen">
			<div class="flex flex-col gap-4 lg:p-4 p-2 pt-0 lg:pt-0  rounde-lg m-2">
				<div class="lg:text-2xl md:text-xl text-lg lg:p-3 p-1 font-black text-gray-700">Hasil Pencarian</div>

	    	{#each data.result as item }

				<a rel="prefetch" href="detail/{item.tid}">
        	<div class="flex items-center justify-between w-full p-2 lg:rounded-full md:rounded-full hover:bg-gray-100 cursor-pointer border-2 rounded-lg">
        		<div class="flex items-center">
          		<div class="h-12 w-12 mb-2 lg:mb-0 border md:mb-0 rounded-full mr-3"></div>
	            <div class="flex flex-col">
  	          	<div class="text-md leading-4 text-gray-700 font-bold w-full">{item.tajuk}</div>
    	      		<div class="text-xs text-gray-600 w-full">Klasifikasi: {item.klasifikasi}. Jumlah cantuman: {item.jumlah_cantuman}</div>
      	    	</div>
						</div>
						<svg class="h-6 w-6 mr-1 invisible md:visible lg:visible xl:visible" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            	<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
	          </svg>
  	      </div>
				</a>

		    {/each}

	    </div>
  	</div>
	</div>

			{:else}

	<div class="flex items-center bg-yellow-500 border-l-4 border-orange-700 py-2 px-3 shadow-md mb-2">
  	<!-- icons -->
	  <div class="text-orange-500 rounded-full bg-white mr-3">
  	  <svg width="1.8em" height="1.8em" viewBox="0 0 16 16" class="bi bi-exclamation" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  		  <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
    	</svg>
	  </div>
	  <!-- message -->
  	<div class="text-white max-w-xs ">
        kata kunci tidak tersedia
	  </div>
	</div>

			{/if}

	  {:catch error}

	<div class="flex items-center bg-red-500 border-l-4 border-red-700 py-2 px-3 shadow-md mb-2">
  	<!-- icons -->
	  <div class="text-red-500 rounded-full bg-white mr-3">
  	  <svg width="1.8em" height="1.8em" viewBox="0 0 16 16" class="bi bi-exclamation" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  		  <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
    	</svg>
	  </div>
  	<!-- message -->
	  <div class="text-white max-w-xs ">
        An error occured.
  	</div>
	</div>

	{/await}
{/if}

</div>

<Footer/>

<svelte:head>
	<title>Sheila : subject heading API for better library application</title>
</svelte:head>
