<script context="module">
	export async function preload({ params }) {
		// the `slug` parameter is available because
		// this file is called [slug].svelte
		//const res = await this.fetch(`http://172.19.1.11/perpusnas_tajuk_parser_v2/search/${params.slug}`);
		const res = await this.fetch(`https://slims.kemdikbud.go.id/ptp/search/${params.slug}`);
  	const data = await res.json();
		if (res.status === 200) {
			return { post: data };
		} else {
			this.error(res.status, data.message);
		}
	}
</script>

<script>
	export let post;
	import Footer from '../../components/Footer.svelte';
</script>

<div class="container mx-auto mt-1">

{#if post.result}

	<div class="container mx-auto">
		<div class="flex flex-col p-2 pt-0 m-h-screen">
			<div class="flex flex-col gap-4 lg:p-4 p-2 pt-0 lg:pt-0  rounde-lg m-2">
				<div class="lg:text-2xl md:text-xl text-lg lg:p-3 p-1 font-black text-gray-700">Hasil Pencarian Tajuk</div>

	{#each post.result as item }

				<a rel="prefetch" href="detail/{item.tid}">
	        <div class="flex items-center justify-between w-full p-2 lg:rounded-full md:rounded-full hover:bg-gray-100 cursor-pointer border-2 rounded-lg">
  	      	<div class="flex items-center">
    	      	<div class="h-12 w-12 mb-2 lg:mb-0 border md:mb-0 rounded-full mr-3"></div>
      	      <div class="flex flex-col">
        	    	<div class="text-md leading-4 text-gray-700 font-bold w-full">{item.tajuk}</div>
          			<div class="text-xs text-gray-600 w-full">Klasifikasi: {item.klasifikasi}. Jumlah cantuman: {item.jumlah_cantuman}</div>
	          	</div>
						</div>
						<svg class="h-6 w-6 mr-1 invisible md:visible lg:visible xl:visible" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
      	      <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
        	  </svg>
        	</div>
				</a>

	{/each}

    	</div>
  	</div>
	</div>

{:else}

	<div class="flex items-center bg-yellow-500 border-l-4 border-orange-700 py-2 px-3 shadow-md mb-2">
  	<!-- icons -->
  	<div class="text-orange-500 rounded-full bg-white mr-3">
    	<svg width="1.8em" height="1.8em" viewBox="0 0 16 16" class="bi bi-exclamation" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  	  	<path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
	    </svg>
  	</div>
	  <!-- message -->
  	<div class="text-white max-w-xs ">
        kata kunci tidak tersedia
  	</div>
	</div>

{/if}

</div>

<Footer/>

<svelte:head>
	<title>Pencarian Tajuk</title>
</svelte:head>
